a{
    font-size: inherit;
    font-weight: inherit;
    color: currentColor;
    text-decoration: none;
}
.main-container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}